

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #DDD;
}

.background{
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card{
    background-color: rgba(5, 5, 5, 0.6);
    width: 30em;
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.4);;
    user-select: none;
}

ul{
    list-style: none;
    text-align: left;
    margin: 10% 0;
}

li{
    margin-top: 12px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

li img{
    color: #DDD;
    width: 1.4em;
}

.name{
    margin-bottom: 0.8em;
    font-size: 1.8em;
    font-weight: 500;
}

.time{
    font-size: 5em;
    font-weight: 700;
}

.features{
    font-size: 1.4em;
}

.price{
    font-size: 1.4em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin: 0 26%;
}

.price__span{
    font-weight: 500;
}

@media (max-width: 768px){
    li{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    li img{
        margin-top: 20px;
    }
}
@media (max-width: 1440px){
    .card__container{
        overflow-y: scroll;
    }
}